*.a
*.la
*.lo
*.log
*.o
*.stamp
*.swp
*.trs
*~
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
/config.h.in
/config.h
/configure
/config.status
/stamp-h1
/.config.args
/*.tar.xz
/autom4te.cache/
/aclocal.m4
/build-aux/
/m4/
/install-tree/
/org.bus1.devices
/org.bus1.rdinit
/org.bus1.init
