*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/Makefile
/Makefile.in

/install-tree/
/org.bus1.activator
/org.bus1.coredump
/org.bus1.devices
/org.bus1.diskctl
/org.bus1.example
/org.bus1.init
/org.bus1.rdinit
